@model Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<p>Customer: @Model.Customer?.CustomerName</p>
<p>Time: @Model.OrderDate</p>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" readonly/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <h4>Product</h4>
            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>@item.Product?.ProductName</td>
                            <td>
                                <input type="number"
                                    name="OrderDetails[@Model.OrderDetails.ToList().IndexOf(item)].Quantity"
                                    value="@item.Quantity"
                                    min="1"
                                    style="width:70px;" />
                            </td>
                            <td>$@item.Product?.Price.ToString("N0")</td>
                            <td>$@((item.Quantity * item.Product.Price).ToString("N0"))</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
